queryExecutor.Tests/Service References/Utils/utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryData.Query" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryData.Query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DscQDataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DynamicParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DscQDataQuery" nillable="true" type="tns:DscQDataQuery" />
</xs:schema>