queryExecutor.Tests/Service References/Utils/utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.TdfFlexField" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.TdfFlexField" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" />
  <xs:complexType name="TdfFlexField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" base="q1:KeyObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FormatMask" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precision" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Scale" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ValueType" type="q1:EValueType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TdfFlexField" nillable="true" type="tns:TdfFlexField" />
</xs:schema>