queryExecutor.Tests/Service References/Utils/utils6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQColumn.Query" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQColumn.Query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DscQColumnQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DscQColumnQuery" nillable="true" type="tns:DscQColumnQuery" />
</xs:schema>