queryExecutor.Tests/Service References/Utils/utils3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryParameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryParameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.TdfFlexField" />
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" />
  <xs:complexType name="ArrayOfDscQParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DscQParameter" nillable="true" type="tns:DscQParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDscQParameter" nillable="true" type="tns:ArrayOfDscQParameter" />
  <xs:complexType name="DscQParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" base="q1:KeyObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FieldCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldNo" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.TdfFlexField" minOccurs="0" name="FlexField" nillable="true" type="q2:TdfFlexField" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QueryNo" type="xs:long" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DscQParameter" nillable="true" type="tns:DscQParameter" />
</xs:schema>