queryExecutor.Tests/Service References/Utils/utils2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain.DscQueryData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://web.aquilon.ru:807/soap/utils.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" />
  <xs:complexType name="ArrayOfDscQData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DscQData" nillable="true" type="tns:DscQData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDscQData" nillable="true" type="tns:ArrayOfDscQData" />
  <xs:complexType name="DscQData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/queryExecutor.Domain" base="q1:KeyObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DynamicProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DscQData" nillable="true" type="tns:DscQData" />
</xs:schema>